/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');

/* GLOBAL SETTINGS */
* {
    box-sizing : border-box;
    font-family: 'Rubik', sans-serif;
    font-weight: normal;
}

body {
    padding         : 0;
    margin          : 0;
    background-color: #5c5c5c;
}

/* MAIN CONTAINER */
.calculator {
    display              : grid;
    justify-content      : center;
    align-content        : center;
    min-height           : 100vh;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows   : minmax(120px, auto) repeat(5, 100px);
}

/* OUTPUT */
.output {
    z-index         : 1;
    grid-column     : 1 / -1;
    background-color: #414142;
    border-radius   : 3px 3px 0 0;
    display         : flex;
    justify-content : space-around;
    align-items     : flex-end;
    flex-direction  : column;
    padding         : 10px;
    word-wrap       : break-word;
    word-break      : break-all;
}

.output .output-text {
    color    : #ebebeb;
    font-size: 2.5rem;
}

/* BUTTONS */
.calculator>button {
    cursor          : pointer;
    font-size       : 2rem;
    border          : 1px solid #e0e0e0;
    outline         : none;
    background-color: #ebebeb;
    color           : #414142;
}

.calculator>button:hover {
    background-color: #414142;
    color           : #ebebeb;
    border          : 1px solid #414142;
}

.clear-btn:hover {
    background-color: #b82f2f !important;
    border          : 1px solid #b82f2f !important;
}

.delete-btn:hover {
    background-color: #d1921d !important;
    border          : 1px solid #d1921d !important;
}

.equals-btn:hover {
    background-color: #28832d !important;
    border          : 1px solid #28832d !important;
}

.span-two {
    grid-column: span 2;
}

.round-down-left {
    border-radius: 0 0 0 3px;
}

.round-down-right {
    border-radius: 0 0 3px 0;
}